<h1>Listing all tags</h1>
<table>

  <tr>

    <%= @tag.each do |tag|%>
    <tr><td><%=tag.name%>   <%= link_to 'Show', tag_path(tag) %></td></tr>
    <% end %>

</tr>
</table>
<%= link_to 'Back', controller: 'welcome'%>
