<h1>Articles Tagged with <%= @tag.name %></h1>

<ul>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %>
      <%= link_to 'Destory', article_path(article), method: :delete, data: {confirm: 'Are you sure?'}%><li>
  <% end %>
  </ul>
  <%= link_to 'Back', tags_path %>
